---
---

@import "minima";

/* Fondo principal */
body {
  background: linear-gradient(
    135deg,
    #050816,
    #081428,
    #041b2e,
    #04140c
  ) !important;
}

/* Contenedor */
.wrapper {
  background: rgba(5, 8, 22, 0.85);
  padding: 20px;
  border-radius: 12px;
}
